.banner{
    background-image: url("./banner2.jpg");
}
.tagline{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.bannerContent{
    height: 400px;
   
    
    padding-top: 25px;
   
   

}


