@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
 
}

.header{
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  min-height: 100vh;
  
}
.curr{
  color: rgb(158, 153, 153);
  background-color: rgb(129, 131, 132);
  

}

